<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tales That Talk</title>
  <link rel="stylesheet" href="/static/css/general.css">
  <link rel="stylesheet" href="/static/css/themes.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="{{ theme }}">
  <h1>Tales That Talk 🔊</h1>
  <div class="book-list">
    {% for book in books %}
      <div class="book-card">
        <img src="{{ book.cover }}" alt="{{ book.title }} Cover" class="cover-image">
        <h2>{{ book.title }}</h2>
        <p>Genre: {{ book.genre }}</p>
        <p>Difficulty: {{ book.difficulty }}</p>
        <p>Age: {{ book.age }}</p>
        <a href="/story/{{ book.folder }}" class="read-story-button">Read Story</a> <!-- Added the class here -->
      </div>
    {% endfor %}
  </div>
  <a href="/add_story" class="read-story-button">Add Story</a>
</body>
</html>
